@model projectportfolio.Models.Category
@{
    // Save title to ViewData
    ViewData["Title"] = "Radera kategori";
}

<h1>@ViewData["Title"]</h1>

<p>Är du säker på att du vill radera denna kategori?</p>
<div>
    <hr />
    <!-- Description list with information about category -->
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AreaOfUse)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.AreaOfUse)
        </dd>
    </dl>
    
    <!-- Buttons with link and to submit for delete -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form asp-action="Delete">
            <input type="hidden" asp-for="CategoryId" />
            <a class="btn btn-color-secondary fw-bold" asp-action="Index">TILLBAKA TILL LISTA</a>
            <input type="submit" value="RADERA" class="btn btn-danger fw-bold" />
        </form>
    </div>
</div>
