@model projectportfolio.Models.Project

@{
    ViewData["Title"] = "Detaljer för " + Model.Title;
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competences)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var compItem in Model.Competences)
                {
                    <li>
                        @Html.DisplayFor(modelItem => compItem.Name)
                    </li>
                }
            </ul>
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.InitialDescription)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.InitialDescription)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TechnicalDescription)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.TechnicalDescription)
        </dd>
    </dl>

    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <img src="~/uploads/@Model.MockupImg.Name" alt="@Model.MockupImg.AltText" class="img-fluid" />
        </div>
        <div class="col-12 col-md-4 text-center">
            <img src="~/uploads/@Model.LogoImg.Name" alt="@Model.LogoImg.AltText" class="img-fluid" />
        </div>
        <div class="col-12 col-md-4">
            <img src="~/uploads/@Model.DetailImg.Name" alt="@Model.DetailImg.AltText" class="img-fluid" />
        </div>
    </div>
</div>
<br />
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-color-secondary fw-bold" asp-action="Index">TILLBAKA TILL LISTA</a>
    <a class="btn btn-color fw-bold" asp-action="Edit" asp-route-id="@Model?.ProjectId">ÄNDRA</a>
</div>
