@model projectportfolio.ViewModels.ProjectViewModel;

@{
    ViewData["Title"] = "Projekt";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Lägg till nytt projekt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Projects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
