@model projectportfolio.Models.Competence

@{
    ViewData["Title"] = "Radera kompetens";
}

<h1>@ViewData["Title"]</h1>

<p>Är du säker på att du vill radera denna kompetens?</p>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form asp-action="Delete">
            <input type="hidden" asp-for="CompetenceId" />
            <a class="btn btn-color-secondary fw-bold" asp-action="Index">Tillbaka till lista</a>
            <input type="submit" value="RADERA" class="btn btn-danger fw-bold" />
        </form>
    </div>
</div>
