@model IEnumerable<projectportfolio.Models.Competence>

@{
    // Save title to ViewData
    ViewData["Title"] = "Kompetenser";
}

<h1>@ViewData["Title"]</h1>

<!-- Link to page to add new competence -->
<p>
    <a class="fw-bold" asp-action="Create">LÄGG TILL NY KOMPETENS</a>
</p>

<!-- Table for competences -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Foreach loop to print all competences -->
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <!-- Links to edit and delete competence -->
                    <a asp-action="Edit" asp-route-id="@item.CompetenceId">Ändra</a> |
                    <a asp-action="Delete" asp-route-id="@item.CompetenceId">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
