@model projectportfolio.Models.Experience

@{
    // Save title to ViewData
    ViewData["Title"] = "Radera utbildning/jobb";
}

<h1>@ViewData["Title"]</h1>

<p>Är du säker på att du vill radera denna utbildning / detta jobb?</p>
<div>
    <hr />
    <!-- Description list with information about experience -->
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.What)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.What)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Where)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Where)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <!-- Buttons with link and to submit for delete -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ExperienceId" />
            <a class="btn btn-color-secondary fw-bold" asp-action="Index">TILLBAKA TILL LISTA</a>
            <input type="submit" value="RADERA" class="btn btn-danger fw-bold" />    
        </form>
    </div>
</div>
