@model IEnumerable<projectportfolio.Models.Experience>

@{
    ViewData["Title"] = "Utbildningar och jobb";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Lägg till ny utbildning / nytt jobb</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.What)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Where)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.What)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Where)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExperienceId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.ExperienceId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.ExperienceId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
