@model IEnumerable<projectportfolio.Models.Image>

@{
    ViewData["Title"] = "Bilder";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Lägg till ny bild</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImageId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.ImageId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.ImageId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
